body {
    background-image: url(../assets/background.png);
    margin: auto;
    padding: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.div-central {
    position: relative;
    background-color: brown;
    height: 570px;
    width: 870px;

    margin: auto;
}



.logo {
    position: absolute;

    height: 110px;
    width: auto;

    top: 18%;
    left: 53%;
    margin: -10% 0 0 -10%
}



.titulo-workshop {
    text-align: center;
    padding: 138px 0 0 0;
    font-size: 57px;
}

.subtitulo-primeiros-passos {
    text-align: center;
    padding: 6px 0 0 0;
    font-size: 34px;  
}

.titulo-gratuito-e-online {
    text-align: center;
    padding: 35px 0 0 0;
    font-size: 27px;     
}



.form {
    text-align: center;
    padding: 15px 0 0 0;
    height: 300px;
}

.barra {
    color: black;
    width: 700px;
    height: 40px;
}

.br-form {
    
   margin: 20px 0;
}
