body {
    background-image: url(../assets/background.png);
    margin: auto;
    padding: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.div-central {
    position: relative;

    height: 570px;
    width: 870px;

    bottom: 20px;

    margin: auto;
}



.logo {
    position: absolute;

    height: 110px;
    width: auto;

    top: 18%;
    left: 53%;
    margin: -10% 0 0 -10%
}



.titulo-workshop {
    text-align: center;
    padding: 138px 0 0 0;
    font-size: 57px;
}

.subtitulo-primeiros-passos {
    text-align: center;
    padding: 6px 0 0 0;
    font-size: 34px;  
}

.titulo-gratuito-e-online {
    text-align: center;
    padding: 35px 0 0 0;
    font-size: 27px;     
}



.form-principal {
    text-align: center;
    padding: 15px 0 0 0;
    height: 300px;
}

.barra {
    color: black;
    width: 690px;
    height: 45px;

    box-sizing: border-box;
    border: solid rgb(255, 255, 255);
    border-radius: 5px;
    resize: none;

    font-size: 20px;
    padding: 0 0 0 10px;
}

.br-barra { 
   margin: 25px 0;
}

.checkbox {
    width: 20px;
}

.botao {
    box-sizing: border-box;
    background: none;
    background-color: rgb(4,124,252);
    border: solid rgb(4,124,252);
    border-radius: 10px;
    resize: none;

    font-size: 20px;
    height: 55px;
    width: 700px;

    color: rgb(255, 255, 255);
}

.botao:hover {
    background-color: rgb(0, 108, 224);
    border: solid rgb(0, 108, 224);
}



footer {
    position: absolute;
    height: 100px;
    background: rgb(6,6,6);
    background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%);    left: 0px;
    right: 0px;
    top: 98%;
}

.textos {
    padding-top: 20px;
}

.text {
    font-size: 25px;
    text-align: center;
    justify-content: center;

    padding-top: 4px;
}

.subtext {
    font-size: 19px;
    text-align: center;
    justify-content: center;

    padding-top: 4px;   
}