* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: none;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
}